
.Expense{
    background-color: rgba(55, 214, 103, 0.829);
   display: flex;
   margin-left: 20px;
}

.Expense__date{
    background-color: rgba(240, 130, 28, 0.226);
    display: flex;
    border: 1px solid;


}